body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1159px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9999443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:650px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9999443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:184px;
  height:650px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9999443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999444 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:40px;
  width:975px;
  height:100px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999445 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:98px;
  width:140px;
  height:92px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999445_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9999446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u9999446 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:627px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u9999446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999447 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:298px;
  width:796px;
  height:200px;
}
#u9999448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u9999448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u9999449 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:104px;
  height:50px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u9999450 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:0px;
  width:228px;
  height:50px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u9999451 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:165px;
  height:50px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u9999451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u9999452 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:0px;
  width:167px;
  height:50px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u9999453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:133px;
  height:30px;
  display:flex;
}
#u9999453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u9999454 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:50px;
  width:104px;
  height:30px;
  display:flex;
}
#u9999454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u9999455 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:50px;
  width:228px;
  height:30px;
  display:flex;
}
#u9999455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u9999456 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:50px;
  width:165px;
  height:30px;
  display:flex;
}
#u9999456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u9999457 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:50px;
  width:167px;
  height:30px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u9999457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u9999458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:133px;
  height:30px;
  display:flex;
}
#u9999458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u9999459 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:80px;
  width:104px;
  height:30px;
  display:flex;
}
#u9999459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u9999460 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:80px;
  width:228px;
  height:30px;
  display:flex;
}
#u9999460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u9999461 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:80px;
  width:165px;
  height:30px;
  display:flex;
}
#u9999461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u9999462 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:80px;
  width:167px;
  height:30px;
  display:flex;
}
#u9999462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u9999463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:133px;
  height:30px;
  display:flex;
}
#u9999463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u9999464 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:110px;
  width:104px;
  height:30px;
  display:flex;
}
#u9999464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u9999465 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:110px;
  width:228px;
  height:30px;
  display:flex;
}
#u9999465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u9999466 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:110px;
  width:165px;
  height:30px;
  display:flex;
}
#u9999466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u9999467 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:110px;
  width:167px;
  height:30px;
  display:flex;
}
#u9999467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u9999468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:133px;
  height:30px;
  display:flex;
}
#u9999468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u9999469 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:140px;
  width:104px;
  height:30px;
  display:flex;
}
#u9999469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u9999470 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:140px;
  width:228px;
  height:30px;
  display:flex;
}
#u9999470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u9999471 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:140px;
  width:165px;
  height:30px;
  display:flex;
}
#u9999471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u9999472 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:140px;
  width:167px;
  height:30px;
  display:flex;
}
#u9999472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u9999473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:133px;
  height:30px;
  display:flex;
}
#u9999473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u9999474 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:170px;
  width:104px;
  height:30px;
  display:flex;
}
#u9999474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u9999475 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:170px;
  width:228px;
  height:30px;
  display:flex;
}
#u9999475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u9999476 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:170px;
  width:165px;
  height:30px;
  display:flex;
}
#u9999476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u9999477 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:170px;
  width:167px;
  height:30px;
  display:flex;
}
#u9999477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999478 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:90px;
  width:100px;
  height:29px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9999479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999479 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:90px;
  width:100px;
  height:29px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9999480_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:11px;
}
#u9999480 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:127px;
  width:120px;
  height:5px;
  display:flex;
}
#u9999480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u9999481 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:513px;
  width:140px;
  height:33px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u9999481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999482 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:90px;
  width:125px;
  height:29px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
