<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>主编审查主界面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/files/主编审查主界面/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'js/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'js/scripts/axutils.js' %}"></script>
    <script src="{% static 'js/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'js/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'js/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'js/scripts/axure/events.js' %}"></script>
    <script src="{% static 'js/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'js/scripts/axure/action.js' %}"></script>
    <script src="{% static 'js/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'js/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'js/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'js/scripts/axure/model.js' %}"></script>
    <script src="{% static 'js/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'js/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'js/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'js/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'js/scripts/axure/move.js' %}"></script>
    <script src="{% static 'js/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'js/scripts/axure/style.js' %}"></script>
    <script src="{% static 'js/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'js/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'js/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'js/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'js/scripts/axure/math.js' %}"></script>
    <script src="{% static 'js/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/data/document.js' %}"></script>
    <script src="{% static 'js/files/主编审查主界面/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
       $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <style type="text/css">
      table {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
      }
      table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
      }
      table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
      }
      Button
      {
        width: 160px;
        height: 100px;
        border-width: 0px;
        border-radius: 3px;
        background: Gray;
        cursor: pointer;
        outline: none;
        font-family: Microsoft YaHei;
        color: white;
        font-size: 17px;
        border-radius: 15px;
      }
    </style>


  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (表格) -->
      <div id="u360" class="ax_default" style="height: 200px; overflow-y:scroll">
        <table width="100%" border="1" bordercolor="#000000">
          <tr>
            <th>文章ID</th>
            <th>文章标题</th>
            <th>点击进行审核</th>
          </tr>

          <tbody id="articlecontent">
            {% for a in a_data %}
            <tr>
              <td>{{a.articleid}}</td>
              <td>{{a.title}}</td>
              <td><a href="{% url 'chief:censor_detail' %}?articleid={{a.articleid}}&title={{a.title}}">审核</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


      <!-- Unnamed (矩形) -->
      <div id="u356" class="ax_default box_3">
        <div id="u356_div" class=""></div>
        <div id="u356_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u357" class="ax_default box_2">
        <div id="u357_div" class=""></div>
        <div id="u357_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u358" class="ax_default _文本段落">
        <div id="u358_div" class=""></div>
        <div id="u358_text" class="text ">
          <p><span style="text-decoration:none;">亲爱的主编，</span></p><p><span style="text-decoration:none;"><br></span></p><p><span style="text-decoration:none;">杂志社稿件管理</span></p><p><span style="text-decoration:none;">后台欢迎您</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u359" class="ax_default button">
        <div id="u359_div" class=""></div>
        <div id="u359_text" class="text ">
          <p><a style="text-decoration:none;" href='{% url "chief:u_logout" %}'>退出</a></p>
        </div>
      </div>

      

      <!-- Unnamed (矩形) -->
      <div id="u379" class="ax_default _文本段落">
        <div id="u379_div" class=""></div>
        <div id="u379_text" class="text ">
          <p><span style="text-decoration:none;">稿件审查</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u380" class="ax_default _文本段落">
        <div id="u380_div" class=""></div>
        <div id="u380_text" class="text ">
          <p><a style="text-decoration:none;" href="{% url 'chief:manage' %}">人事管理</a></p>

        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u381" class="ax_default line">
        <img id="u381_img" class="img " src="{% static 'img/编委领域审查主界面/u296.svg' %}"/>
        <div id="u381_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u382" class="ax_default _文本段落">
        <div id="u382_div" class=""></div>
        <div id="u382_text" class="text ">
          <p><span style="text-decoration:none;">待审阅稿件列表：</span></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u383" class="ax_default line">
        <img id="u383_img" class="img " src="{% static 'img/编委水平审查主界面/u340.svg' %}"/>
        <div id="u383_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>


    {% if messages %}
        <script>
          {% for msg in messages %}
            alert('{{ msg.message }}');
          {% endfor %}
        </script>
    {% endif %}

    </div>
    <script src="{% static 'js/scripts/axure/ios.js' %}"></script>
  </body>
</html>
