<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>主编人事信息添加界面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/files/主编人事信息添加界面/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'js/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'js/scripts/axutils.js' %}"></script>
    <script src="{% static 'js/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'js/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'js/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'js/scripts/axure/events.js' %}"></script>
    <script src="{% static 'js/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'js/scripts/axure/action.js' %}"></script>
    <script src="{% static 'js/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'js/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'js/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'js/scripts/axure/model.js' %}"></script>
    <script src="{% static 'js/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'js/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'js/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'js/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'js/scripts/axure/move.js' %}"></script>
    <script src="{% static 'js/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'js/scripts/axure/style.js' %}"></script>
    <script src="{% static 'js/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'js/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'js/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'js/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'js/scripts/axure/math.js' %}"></script>
    <script src="{% static 'js/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/data/document.js' %}"></script>
    <script src="{% static 'js/files/主编人事信息添加界面/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script type="text/javascript">
       function add(form){
           if(form.userid.value==''){
               alert("请输入用户账号！");
               form.userid.focus();
               return false;
           }
           if(form.username.value==''){
               alert("请输入用户姓名！");
               form.username.focus();
               return false;
           }
           if(form.email.value==''){
               alert("请输入用户邮箱！");
               form.email.focus();
               return false;
           }
           if(form.tel.value==''){
               alert("请输入用户电话！");
               form.tel.focus();
               return false;
           }
           if(form.pwd.value==''){
               alert("请输入登录密码！");
               form.pwd.focus();
               return false;
           }
           if(form.pos.value==''){
               alert("请输入用户职能！");
               form.pos.focus();
               return false;
           }
          if(form.pos.value=='expert' && form.field.value==''){
               alert("请选择专家领域！");
               form.field.focus();
               return false;
           }
          if(form.pos.value=='member' && form.isfield.value==''){
               alert("请规定编委领域审核职责！");
               form.isfield.focus();
               return false;
           }
          if(form.pos.value=='member' && form.islevel.value==''){
               alert("请规定编委水平审核职责！");
               form.islevel.focus();
               return false;
           }
          if(form.pos.value=='member' && form.isfield.value==1 && form.field.value==''){
               alert("请选择编委领域！");
               form.field.focus();
               return false;
           }
           form.submit();
       }
    </script>

  </head>
  <body>
    <div id="base" class="">

    <form action="{% url 'chief:add' %}" method="post" name="form1">

      <!-- Unnamed (矩形) -->
      <div id="u100463" class="ax_default box_3">
        <div id="u100463_div" class=""></div>
        <div id="u100463_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100464" class="ax_default box_2">
        <div id="u100464_div" class=""></div>
        <div id="u100464_text" class="text ">
          <p><span style="text-decoration:none;">人事信息添加界面</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100465" class="ax_default _文本段落">
        <div id="u100465_div" class=""></div>
        <div id="u100465_text" class="text ">
          <p><span style="text-decoration:none;">亲爱的主编，</span></p><p><span style="text-decoration:none;"><br></span></p><p><span style="text-decoration:none;">杂志社稿件管理</span></p><p><span style="text-decoration:none;">后台欢迎您</span></p><p><span style="text-decoration:none;"><br></span></p><p><span style="text-decoration:none;"><br></span></p><p><span style="text-decoration:none;">您正在进行的是</span></p><p><span style="text-decoration:none;">人事信息添加工作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100466" class="ax_default button">
        <div id="u100466_div" class=""></div>
        <div id="u100466_text" class="text ">
          <p><a style="text-decoration:none;" href='{% url "chief:u_logout" %}'>退出</a></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100467" class="ax_default primary_button">
        <div id="u100467_div" class=""></div>
        <div id="u100467_text" class="text ">
          <p><a style="text-decoration:none;" onclick="add(form1)">添加</a></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100468" class="ax_default primary_button">
        <div id="u100468_div" class=""></div>
        <div id="u100468_text" class="text ">
          <p><a style="text-decoration:none;" href="{% url 'chief:manage' %}">返回</a></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u100469" class="ax_default text_field">
        <div id="u100469_div" class=""></div>
        <input id="u100469_input" type="text" value="" class="u100469_input" name="userid"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100470" class="ax_default label">
        <div id="u100470_div" class=""></div>
        <div id="u100470_text" class="text ">
          <p><span style="text-decoration:none;">工作id：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u100471" class="ax_default text_field">
        <div id="u100471_div" class=""></div>
        <input id="u100471_input" type="text" value="" class="u100471_input" name="username"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100472" class="ax_default label">
        <div id="u100472_div" class=""></div>
        <div id="u100472_text" class="text ">
          <p><span style="text-decoration:none;">姓名：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u100473" class="ax_default text_field">
        <div id="u100473_div" class=""></div>
        <input id="u100473_input" type="text" value="" class="u100473_input" name="email"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100474" class="ax_default label">
        <div id="u100474_div" class=""></div>
        <div id="u100474_text" class="text ">
          <p><span style="text-decoration:none;">邮箱：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u100475" class="ax_default text_field">
        <div id="u100475_div" class=""></div>
        <input id="u100475_input" type="text" value="" class="u100475_input" name="tel"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100476" class="ax_default label">
        <div id="u100476_div" class=""></div>
        <div id="u100476_text" class="text ">
          <p><span style="text-decoration:none;">手机：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u100477" class="ax_default text_field">
        <div id="u100477_div" class=""></div>
        <input id="u100477_input" type="text" value="" class="u100477_input" name="pwd"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100478" class="ax_default label">
        <div id="u100478_div" class=""></div>
        <div id="u100478_text" class="text ">
          <p><span style="text-decoration:none;">密码：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u100479" class="ax_default droplist">
        <div id="u100479_div" class=""></div>
        <select id="u100479_input" class="u100479_input" name="pos" value="">
          <option class="u100479_input_option" value="">（请选择）</option>
          <option class="u100479_input_option" value="expert">专家</option>
          <option class="u100479_input_option" value="member">编委</option>
          <option class="u100479_input_option" value="author">作者</option>
          <option class="u100479_input_option" value="chief">主编</option>
          <option class="u100479_input_option" value="editor">编辑</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100480" class="ax_default label">
        <div id="u100480_div" class=""></div>
        <div id="u100480_text" class="text ">
          <p><span style="text-decoration:none;">职能：</span></p>
        </div>
      </div>

      <div id="u100481" class="ax_default droplist">
        <div id="u100481_div" class=""></div>
        <select id="u100481_input" class="u100481_input" name="field" value="">
          <option class="u100481_input_option" value="">（请选择）</option>
          <option class="u100481_input_option" value="宏观经济">宏观经济</option>
          <option class="u100481_input_option" value="微观经济">微观经济</option>
          <option class="u100481_input_option" value="金融市场">金融市场</option>
          <option class="u100481_input_option" value="运筹科学">运筹科学</option>
          <option class="u100481_input_option" value="信息管理">信息管理</option>
          <option class="u100481_input_option" value="金融科技">金融科技</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100482" class="ax_default label">
        <div id="u100482_div" class=""></div>
        <div id="u100482_text" class="text ">
          <p><span style="text-decoration:none;">领域：</span></p>
        </div>
      </div>

      <div id="u100981" class="ax_default droplist">
        <div id="u100981_div" class=""></div>
        <select id="u100981_input" class="u100981_input" name="isfield" value="">
          <option class="u100981_input_option" value="">（请选择）</option>
          <option class="u100981_input_option" value=1>是</option>
          <option class="u100981_input_option" value=0>否</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100982" class="ax_default label">
        <div id="u100982_div" class=""></div>
        <div id="u100982_text" class="text ">
          <p><span style="text-decoration:none;">是否领域审核：</span></p>
        </div>
      </div>

      <div id="u100983" class="ax_default droplist">
        <div id="u100983_div" class=""></div>
        <select id="u100983_input" class="u100983_input" name="islevel" value="">
          <option class="u100983_input_option" value="">（请选择）</option>
          <option class="u100983_input_option" value=1>是</option>
          <option class="u100983_input_option" value=0>否</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u100984" class="ax_default label">
        <div id="u100984_div" class=""></div>
        <div id="u100984_text" class="text ">
          <p><span style="text-decoration:none;">是否水平审核：</span></p>
        </div>
      </div>






    </form>




      {% if messages %}
        <script>
          {% for msg in messages %}
            alert('{{ msg.message }}');
          {% endfor %}
        </script>
      {% endif %}

    </div>
    <script src="{% static 'js/scripts/axure/ios.js' %}"></script>
  </body>
</html>
