<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>用户已投稿件界面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/files/用户已投稿件界面/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'js/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'js/scripts/axutils.js' %}"></script>
    <script src="{% static 'js/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'js/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'js/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'js/scripts/axure/events.js' %}"></script>
    <script src="{% static 'js/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'js/scripts/axure/action.js' %}"></script>
    <script src="{% static 'js/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'js/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'js/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'js/scripts/axure/model.js' %}"></script>
    <script src="{% static 'js/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'js/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'js/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'js/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'js/scripts/axure/move.js' %}"></script>
    <script src="{% static 'js/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'js/scripts/axure/style.js' %}"></script>
    <script src="{% static 'js/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'js/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'js/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'js/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'js/scripts/axure/math.js' %}"></script>
    <script src="{% static 'js/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/data/document.js' %}"></script>
    <script src="{% static 'js/files/用户已投稿件界面/data.js' %}"></script>
    <script src="{% static 'js/files/用户已投稿件界面/test.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
      <style type="text/css">
          table {
              font-family: verdana,arial,sans-serif;
              font-size:11px;
              color:#333333;
              border-width: 1px;
              border-color: #666666;
              border-collapse: collapse;
          }
          table th {
              border-width: 1px;
              padding: 8px;
              border-style: solid;
              border-color: #666666;
              background-color: #dedede;
          }
          table td {
              border-width: 1px;
              padding: 8px;
              border-style: solid;
              border-color: #666666;
              background-color: #ffffff;
          }
          Button
          {
        width: 160px;
        height: 100px;
        border-width: 0px;
        border-radius: 3px;
        background: Gray;
        cursor: pointer;
        outline: none;
        font-family: Microsoft YaHei;
        color: white;
        font-size: 17px;
        border-radius: 15px;
          }
          a
          {
        text-decoration: none;
          }
          a:hover
          {
        text-decoration: underline;
          }
      </style>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u119" class="ax_default box_2">
        <div id="u119_div" class=""></div>
        <div id="u119_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u120" class="ax_default box_2">
        <div id="u120_div" class=""></div>
        <div id="u120_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u121" class="ax_default _文本段落">
        <div id="u121_div" class=""></div>
        <div id="u121_text" class="text ">
          <p><span style="text-decoration:none;">**杂志社</span> </p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u122" class="ax_default _文本段落">
        <div id="u122_div" class=""></div>
        <div id="u122_text" class="text ">
          <p><span style="text-decoration:none;">用户稿件管理界面欢迎您！</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u123" class="ax_default button">
        <div id="u123_div" class=""></div>
        <div id="u123_text" class="text ">
          <a href="{% url 'author:logout' %}">退出</a>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u124" class="ax_default _文本段落">
        <div id="u124_div" class=""></div>
        <div id="u124_text" class="text ">
          <p><span style="text-decoration:none;">已投稿件</span></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u125" class="ax_default line">
        <img id="u125_img" class="img " src="{% static 'img/用户已投稿件界面/u125.svg' %}"/>
        <div id="u125_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u126" class="ax_default _文本段落">
        <div id="u126_div" class=""></div>
        <div id="u126_text" class="text ">
          <p><a href="{% url "author:contribute" %}"><span >在线投稿</span></a></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表) -->
      <form id="form3"action="/login/" method ='post' name='form3'>
      <div id="u127" class="ax_default droplist">
        <div id="u127_div" class=""></div>
        <select id="u127_input" class="u127_input" name="ishenyue">
          <option class="u127_input_option" value="如需查询状态请选择一状态">如需查询状态请选择一状态</option>
          <option class="u127_input_option" value="待修改">待修改</option>
          <option class="u127_input_option" value="编辑审阅">编辑审阅</option>
          <option class="u127_input_option" value="责任编委审阅">责任编委审阅</option>
          <option class="u127_input_option" value="水平编委审阅">水平编委审阅</option>
          <option class="u127_input_option" value="通过">通过</option>
          <option class="u127_input_option" value="拒绝">拒绝</option>
        </select>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u128" class="ax_default text_field">
        <div id="u128_div" class=""></div>
        <input id="u128_input" type="text" value="" class="u128_input" name="ititle" />
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u129" class="ax_default label">
        <div id="u129_div" class=""></div>
        <div id="u129_text" class="text ">
          <p><span style="text-decoration:none;">标题：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u130" class="ax_default text_field">
        <div id="u130_div" class=""></div>
        <input id="u130_input" type="date" value="" class="u130_input" name="ibegintime"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u131" class="ax_default label">
        <div id="u131_div" class=""></div>
        <div id="u131_text" class="text ">
          <p><span style="text-decoration:none;">起始投稿时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u163" class="ax_default text_field">
        <div id="u163_div" class=""></div>
        <input id="u163_input" type="date" value="" class="u163_input" name="iendtime"/>
      </div>
      </form>

      <!-- Unnamed (矩形) -->
      <div id="u132" class="ax_default label">
        <div id="u132_div" class=""></div>
        <div id="u132_text" class="text ">
          <p><span style="text-decoration:none;">截止投稿时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u133" class="ax_default label">
        <div id="u133_div" class=""></div>
        <div id="u133_text" class="text ">
          <p><span style="text-decoration:none;">审阅状态：</span></p>
        </div>
      </div>

      <!-- Unnamed (表格)-->
      <div id="u134" class="ax_default" style="height: 200px; overflow-y:scroll">
          <table width="100%" border="1" bordercolor="#000000">
              <tr>
                  <th>文章标题</th>
                  <th>最新审核状态</th>
                  <th>投稿时间</th>
                  <th>最新修改时间</th>
              </tr>
          <tbody id="artList">
                 {%for art in artli %}
              <tr>
                  <td><a href="/author/modify/?artid={{ art.5 }}&authorid={{ art.4 }}">{{ art.0 }}</a></td>
                  <td>{{ art.1 }}</td>
                  <td>{{ art.2}}</td>
                  <td>{{ art.3}}</td>
              </tr>

              {% endfor %}
          </tbody>
          </table>
    </div>
      <!-- Unnamed (矩形) -->
      <div id="u160" class="ax_default box_3">
        <div id="u160_div" class=""></div>
        <div id="u160_text" class="text ">
          <button id = "chaxun" name ="chaxun" type="button">查询</button>
        </div>


    </div>
    <script src="{% static 'js/scripts/axure/ios.js' %}"></script>
    </div>
  </body>
</html>
