<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>用户注册界面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'css/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/files/用户注册界面/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'js/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'js/scripts/axutils.js' %}"></script>
    <script src="{% static 'js/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'js/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'js/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'js/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'js/scripts/axure/events.js' %}"></script>
    <script src="{% static 'js/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'js/scripts/axure/action.js' %}"></script>
    <script src="{% static 'js/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'js/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'js/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'js/scripts/axure/model.js' %}"></script>
    <script src="{% static 'js/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'js/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'js/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'js/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'js/scripts/axure/move.js' %}"></script>
    <script src="{% static 'js/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'js/scripts/axure/style.js' %}"></script>
    <script src="{% static 'js/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'js/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'js/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'js/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'js/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'js/scripts/axure/math.js' %}"></script>
    <script src="{% static 'js/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/data/document.js' %}"></script>
    <script src="{% static 'js/files/用户注册界面/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
    <script type="text/javascript">
       function check(form){
           if(form.userid.value==''){
               alert("请输入用户账号！");
               form.userid.focus();
               return false;
           }
           if(form.pwd1.value==''){
               alert("请输入登录密码！");
               form.pwd1.focus();
               return false;
           }
           if(form.name.value==''){
               alert("请输入姓名！");
               form.name.focus();
               return false;
           }
           if(form.pwd2.value==''){
               alert("请再次输入密码！");
               form.pwd2.focus();
               return false;
           }
           if(form.email.value==''){
               alert("请输入邮箱！");
               form.email.focus();
               return false;
           }
           if(form.tele.value==''){
               alert("请输入电话！");
               form.tele.focus();
               return false;
           }
           if(form.pwd1.value!=form.pwd2.value){
               alert("两次输入密码不一致！");
               form.pwd2.focus();
               return false;
           }
           form.submit();
       }
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u64" class="ax_default _一级标题">
        <div id="u64_div" class=""></div>
        <div id="u64_text" class="text ">
          <p><span style="text-decoration:none;">杂志社欢迎您的供稿</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u65" class="ax_default _文本段落">
        <div id="u65_div" class=""></div>
        <div id="u65_text" class="text ">
          <p><span style="text-decoration:none;">**杂志社创办于1998年，以互联网、金融、经济、管理科学等经济管理相关内容为杂志核心，试图为更多相关领域的从业者提供更专业的视角与更深入的分析。创办至今，**杂志社已获得稳定的几十万份的订阅量，影响力不可小觑。</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u66" class="ax_default _文本段落">
        <div id="u66_div" class=""></div>
        <div id="u66_text" class="text ">
          <p><span style="text-decoration:none;">联系我们：</span></p><p><span style="text-decoration:none;">Tel:010-12345678</span></p><p><span style="text-decoration:none;">地址：北京市海淀区清华大学经济管理学院伟伦楼605</span></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u67" class="ax_default line">
        <img id="u67_img" class="img " src="{% static 'img/用户注册界面/u67.svg' %}"/>
        <div id="u67_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u68" class="ax_default line">
        <img id="u68_img" class="img " src="{% static 'img/用户注册界面/u67.svg' %}"/>
        <div id="u68_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u69" class="ax_default _文本段落">
        <div id="u69_div" class=""></div>
        <div id="u69_text" class="text ">
          <p><span style="text-decoration:none;">欢迎您的注册！</span></p>
        </div>
      </div>
      <form action="{% url 'homepage:signup' %}" method="post" name="form1">
     <!-- Unnamed (文本框) -->
      <div id="u70" class="ax_default text_field">
        <div id="u70_div" class=""></div>
        <input id="u70_input" type="text" value="" class="u70_input" name="userid"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u71" class="ax_default label">
        <div id="u71_div" class=""></div>
        <div id="u71_text" class="text ">
          <p><span style="text-decoration:none;">用户名：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u10072" class="ax_default text_field">
        <div id="u10072_div" class=""></div>
        <input id="u10072_input" type="password" value="" class="u10072_input" name="pwd1"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10073" class="ax_default label">
        <div id="u10073_div" class=""></div>
        <div id="u10073_text" class="text ">
          <p><span style="text-decoration:none;">密 码：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u10074" class="ax_default text_field">
        <div id="u10074_div" class=""></div>
        <input id="u10074_input" type="text" value="" class="u10074_input" name="email"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10075" class="ax_default label">
        <div id="u10075_div" class=""></div>
        <div id="u10075_text" class="text ">
          <p><span style="text-decoration:none;">邮箱：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10076" class="ax_default button">
        <div id="u10076_div" class=""></div>
        <div id="u10076_text" class="text ">
          <p><span style="text-decoration:none;" onclick="check(form1)">注册</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u10077" class="ax_default text_field">
        <div id="u10077_div" class=""></div>
        <input id="u10077_input" type="text" value="" class="u10077_input" name="name"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10078" class="ax_default label">
        <div id="u10078_div" class=""></div>
        <div id="u10078_text" class="text ">
          <p><span style="text-decoration:none;">姓名：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u10079" class="ax_default text_field">
        <div id="u10079_div" class=""></div>
        <input id="u10079_input" type="password" value="" class="u10079_input" name="pwd2"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10080" class="ax_default label">
        <div id="u10080_div" class=""></div>
        <div id="u10080_text" class="text ">
          <p><span style="text-decoration:none;">确认密码：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u10081" class="ax_default text_field">
        <div id="u10081_div" class=""></div>
        <input id="u10081_input" type="text" value="" class="u10081_input" name="tele"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10082" class="ax_default label">
        <div id="u10082_div" class=""></div>
        <div id="u10082_text" class="text ">
          <p><span style="text-decoration:none;">电话：</span></p>
        </div>
      </div>
      </form>
    </div>
    <script src="{% static 'js/scripts/axure/ios.js' %}"></script>
  </body>
</html>
