body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1159px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9999399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:650px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9999399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:184px;
  height:650px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u9999399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999400 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:40px;
  width:975px;
  height:100px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999401 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:98px;
  width:140px;
  height:92px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999401_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9999402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u9999402 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:627px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u9999402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999403 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:280px;
  width:784px;
  height:189px;
}
#u9999404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u9999404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:39px;
}
#u9999405 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:463px;
  height:39px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:39px;
}
#u9999406 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:0px;
  width:182px;
  height:39px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9999406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u9999407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:139px;
  height:30px;
  display:flex;
}
#u9999407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:30px;
}
#u9999408 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:39px;
  width:463px;
  height:30px;
  display:flex;
}
#u9999408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u9999409 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:39px;
  width:182px;
  height:30px;
  display:flex;
}
#u9999409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9999410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u9999410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:139px;
  height:30px;
  display:flex;
}
#u9999410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:30px;
}
#u9999411 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:69px;
  width:463px;
  height:30px;
  display:flex;
}
#u9999411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u9999412 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:69px;
  width:182px;
  height:30px;
  display:flex;
}
#u9999412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u9999413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:139px;
  height:30px;
  display:flex;
}
#u9999413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:30px;
}
#u9999414 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:99px;
  width:463px;
  height:30px;
  display:flex;
}
#u9999414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u9999415 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:99px;
  width:182px;
  height:30px;
  display:flex;
}
#u9999415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u9999416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:139px;
  height:30px;
  display:flex;
}
#u9999416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:30px;
}
#u9999417 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:129px;
  width:463px;
  height:30px;
  display:flex;
}
#u9999417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u9999418 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:129px;
  width:182px;
  height:30px;
  display:flex;
}
#u9999418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u9999419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:159px;
  width:139px;
  height:30px;
  display:flex;
}
#u9999419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:30px;
}
#u9999420 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:159px;
  width:463px;
  height:30px;
  display:flex;
}
#u9999420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u9999421 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:159px;
  width:182px;
  height:30px;
  display:flex;
}
#u9999421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999422 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:90px;
  width:100px;
  height:29px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999422 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999422_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9999423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999423 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:90px;
  width:100px;
  height:29px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9999424_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:11px;
}
#u9999424 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:127px;
  width:120px;
  height:5px;
  display:flex;
}
#u9999424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999425 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:185px;
  width:160px;
  height:23px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9999425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9999426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u9999426 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:214px;
  width:160px;
  height:1px;
  display:flex;
}
#u9999426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9999426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9999427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999427 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:90px;
  width:125px;
  height:29px;
  display:flex;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u9999427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9999427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
